<body>
<div class="container">
  <h1 class="header">
    BLOGS
  </h1>
  <div class="blog-card">
    <div class="blog-header">
      <img alt="Author's profile picture" height="40" src="https://storage.googleapis.com/a1aa/image/xYqJXFa8NoZrApMWl7mJLJEBsmCP2f5fQhUCjMEHIMHkWL2TA.jpg" width="40"/>
      <div class="author-info">
      <span class="author-name">
       Jerome Beriso
      </span>
        <span class="blog-date">
       Nov 13, 2024
      </span>
      </div>
    </div>
    <div class="blog-content">
      <div class="text-content">
        <h2>
          A Step-by-Step Guide to Advanced Task Scheduling using Celery Beat and Django
        </h2>
        <p>
          In my synchronous Python blog, I explored multitasking, distributed computing, and related best practices. But...
        </p>
      </div>
      <img alt="Blog related image" height="100" src="https://storage.googleapis.com/a1aa/image/1y0esjbflbvL20bU93d6eijKwv3vJFZT0wDeMdVnysVe0axeE.jpg" width="100"/>
    </div>
    <div class="blog-footer">
      <div class="tags">
      <span>
       celery
      </span>
      </div>
      <div class="actions">
      <span>
       <i class="far fa-comment">
       </i>
       20 comment
      </span>
        <span>
       <i class="far fa-heart">
       </i>
       19 likes
      </span>
        <span>
       <i class="fas fa-share">
       </i>
       55 share
      </span>
      </div>
    </div>
  </div>
  <div class="blog-card">
    <div class="blog-header">
      <img alt="Author's profile picture" height="40" src="https://storage.googleapis.com/a1aa/image/xYqJXFa8NoZrApMWl7mJLJEBsmCP2f5fQhUCjMEHIMHkWL2TA.jpg" width="40"/>
      <div class="author-info">
      <span class="author-name">
       Gerlie Eyem Dao-ayan
      </span>
        <span class="blog-date">
       Nov 13, 2024
      </span>
      </div>
    </div>
    <div class="blog-content">
      <div class="text-content">
        <h2>
          Getting Started with Django: Basic Setup and Overview
        </h2>
        <p>
          A Python-based Web Framework designed for rapid development of efficient web applications. It is also...
        </p>
      </div>
      <img alt="Blog related image" height="100" src="https://storage.googleapis.com/a1aa/image/1y0esjbflbvL20bU93d6eijKwv3vJFZT0wDeMdVnysVe0axeE.jpg" width="100"/>
    </div>
    <div class="blog-footer">
      <div class="tags">
      <span>
       Django
      </span>
        <span>
       Web Development
      </span>
      </div>
      <div class="actions">
      <span>
       <i class="far fa-comment">
       </i>
       15 comment
      </span>
        <span>
       <i class="far fa-heart">
       </i>
       39 likes
      </span>
        <span>
       <i class="fas fa-share">
       </i>
       55 share
      </span>
      </div>
    </div>
  </div>
</div>
</body>
