<main>
<div class="content">
  <p>Are you a student eager to share your unique perspective, insightful analysis, or creative writing with the world? Then dive into our vibrant student blogging platform, where you can connect with a global community of like-minded individuals, showcase your talents, and gain valuable experience in digital storytelling. Do you offer any guidance or tips for students who want to start blogging on your platform? Is there a specific age requirement or academic level needed to join your student blogging platform? Can students collaborate with each other on projects or posts within your blogging community?</p>
  <h2>Student Blogging</h2>
  <button class="button2" routerLink="/signup">Sign-up</button>
</div>
</main>

