<body>
<div class="container">
  <div class="Loginform">
    <h1>LOGIN</h1>
    <form>
      <div class="form-group">
        <label for="email">Enter email</label>
        <input type="email" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Enter password</label>
        <input type="password" id="password" placeholder="Enter password">
      </div>
      <button type="submit" routerLink="/newuser">Sign-in</button>
      <p>Don't have an account? <a routerLink="/signup">Sign-up</a></p>
    </form>
  </div>
</div>
</body>
